body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #101827;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #1f2937;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}